  /* Allgemein */
   body {
      background-color: #555; 
      color: #fff;
      font: small/1.3 Arial, Helvetica, sans-serif; }
   h1 {
      font-size: 1.5em;
      padding: 1em 8px;
      color: #333;
      background-color: #069;
      margin: 0; }
   /* Ende Allgemein */

   /* Navigation */
   #nav {
      width: 100%;
      float: left;
      margin: 0 0 2em 0;
      padding: 0;
      list-style: none;
      background-color: #f2f2f2;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; }
   #nav li {
      float: left; }
   #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      border-right: 1px solid #ccc; }
   #nav li a:hover {
      color: #c00;
      background-color: #fff; }
   /* Ende Navigation */